.DS_Store
__pycache__
.vscode
# latex
pseudo.bbl
pseudo.blg
pseudo.aux
pseudo_without_notes.aux
pseudo.log
pseudo_without_notes.log
pseudo.synctex.gz
pseudo.out
pseudo_without_notes.out
pseudo.toc
pseudo_without_notes.toc
pseudo.dvi
pseudo_without_notes.fdb_latexmk
pseudo_without_notes.fls
pseudo_without_notes.synctex.gz