.DS_Store
pseudo.bbl
pseudo.blg
pseudo.aux
pseudo_without_notes.aux
pseudo.log
pseudo_without_notes.log
pseudo.synctex.gz
pseudo.out
pseudo_without_notes.out
pseudo.toc
pseudo_without_notes.toc
pseudo.dvi
__pycache__